/* Styles for ManageTargets */
.manage-targets-container {
  background-color: white;
  padding: 20px;
}

.targets-table {
  width: 100%;
  border-collapse: collapse; 
}

.targets-table th, .targets-table td {
  border-bottom: 1px solid #b1b1b1; 
  padding: 10px;
  text-align: left;
}

.targets-table tbody tr:hover {
  background-color: #f2f2f2; 
  color: black; 
}

.check-icon {
  cursor: pointer;
}


.search-and-options {
  margin-bottom: 20px; 
}

.option-button {
  margin-left: 10px; 
  cursor: pointer;
}
.tag-label {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.9em;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-options {
  margin: 10px 0;
}

.search-shodan-container{
  display: flex;
  gap: 20px; 
  justify-content: space-between; 
  align-items: center; 
}
.shodan-form{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.shodan-form input {
  padding: 5px;
  font-size: 1em;
}

.shodan-form button {
  padding: 5px 10px;
  font-size: 1em;
  background-color: #357eab;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.add-target-form-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center; 
}

.add-target-form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.add-target-form input {
  padding: 5px;
  font-size: 1em;
}

.add-target-form button {
  padding: 5px 10px;
  font-size: 1em;
  background-color: #357eab;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.add-target-form button:hover {
  background-color: #5d316e; 
}

.download-template {
  display: inline-block;
  margin-top: 7px;
  font-size: 1em;
  color: #9a1e29;
}

.search-form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search-form input {
  padding: 5px;
  font-size: 1em;
}

.search-form button {
  padding: 5px 10px;
  font-size: 1em;
  background-color: #357eab;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.search-form button:hover {
  background-color: #5d316e; 
}

.targets-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.targets-table th, .targets-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.targets-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.targets-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.targets-table tr:hover {
  background-color: #ddd;
}